<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="Batik" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>
	<appender name="FOP" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>
	<appender name="XMLGraphics" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>
	<logger name="org.apache.batik">
		<level value="WARN" />
		<appender-ref ref="Batik" />
	</logger>
	<logger name="org.apache.fop">
		<level value="WARN" />
		<appender-ref ref="FOP" />
	</logger>
	<logger name="org.apache.xmlgraphics">
		<level value="WARN" />
		<appender-ref ref="XMLGraphics" />
	</logger>
</log4j:configuration>
